<div id="player">
  <div class="player-container">
    <!-- <div class="track-image" ng-style="$ctrl.tracks[$ctrl.index].style">
    </div> -->
    <div class="cell image">
      <img class="track-image" ng-src="{{$ctrl.tracks[$ctrl.index].coverImage}}" />
    </div>
    <div class="cell track">
      <div class="controls">
        <div class="control control__previous"
            ng-click="$ctrl.changeTrack($ctrl.tracks[$ctrl.index].index - 1)">
        </div>
        <div class="control control__pause"
            ng-show="$ctrl.playing"
            ng-click="$ctrl.pause()">
        </div>
        <div class="control control__play"
            ng-hide="$ctrl.playing"
            ng-click="$ctrl.play()">
        </div>
        <div class="control control__next"
            ng-click="$ctrl.changeTrack($ctrl.tracks[$ctrl.index].index + 1)">
        </div>
      </div>

      <div class="track-info">
        <div class="text">
          <span class="track-artist">{{ $ctrl.artist }}</span>
          <span class="track-title">{{ $ctrl.index + 1 }}. {{ $ctrl.tracks[$ctrl.index].name }}</span>
        </div>

        <div class="seeking">
          <div class="progress" ng-style="$ctrl.progressWidth">
          </div>
        </div>

        <div class="times">
          <p class="elapsed">{{$ctrl.elapsed}}</p>
          <p class="remaining">{{$ctrl.remaining}}</p>
        </div>

      </div>
    </div>
  </div>
  <p ng-show="$ctrl.loading">Loading...</p>
</div>
