player {
  color: rgba(0, 0, 0, 0.8);
}

$width: 500px;

/* styles for audio controls */
$controlMainColor: rgb(106, 187, 156);
$controlHoverColor: rgb(127, 220, 188);
$bgColor: white;
$size: 16px;
$ratio: 1.2;

/* triangles */
@mixin arrow-right($color, $size, $hoverColor) {
  width: 0;
  height: 0;
  border-top: $size*0.75-1 solid transparent;
  border-bottom: $size*0.75-1 solid transparent;
  border-left: $size solid $color;
  &:hover {
    border-left-color: $hoverColor;
  }
}

@mixin arrow-left($color, $size, $hoverColor) {
  width: 0;
  height: 0;
  border-top: $size*0.75-1 solid transparent;
  border-bottom: $size*0.75-1 solid transparent;
  border-right: $size solid $color;
  &:hover {
    border-right-color: $hoverColor
  }
}

.player-container {
  // height: 100vh;
  width: $width;
  display: flex;
  flex-direction: column;
}

.cell.image {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  .track-image {
    width: $width;
  }
}
.cell.track {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 80px;
  width: $width;
  box-shadow: 0px 5px 89px 61px $bgColor;
  background-color: $bgColor;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 110px;
  position: relative;
  bottom: 0;


  .control {
    // background-color: $controlMainColor;
    height: $size;
    width: $size;
    &:hover {
      // border-color: $controlHoverColor;
    }
  }

  .control__pause {
    $pauseHeight: $size + 4;
    $pauseWidth: $size + 2;
    width: $pauseWidth;
  	height: $pauseHeight;
    background-color: $controlMainColor;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 50%;
      transform: translateX(50%);
      height: $pauseHeight;
      width: 6px;
      background-color: white;
    }

    &:hover {
      background-color: $controlHoverColor;
    }
  }
  .control__play {
    /* show play triangle if paused */
    @include arrow-right($controlMainColor, $size, $controlHoverColor);
    // background-color: $bgColor;
    // border-bottom: $size/$ratio/1.8 solid transparent;  /* left arrow slant */
  	// border-top: $size/$ratio/1.8 solid transparent; /* right arrow slant */
  	// border-left: $size/$ratio solid $controlMainColor; /* bottom, add background color here */
    // &:hover {
    //   background-color: $bgColor;
    //   border-left-color: $controlHoverColor;
    // }
  }

  .control__previous {
    @include arrow-left($controlMainColor, $size, $controlHoverColor);
    position: relative;
    left: 10px;
    &::after {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      height: 20px;
      width: 6px;
      background-color: $controlMainColor;
    }
    &:hover::after {
      background-color: $controlHoverColor;
    }
  }
  .control__next {
    @include arrow-right($controlMainColor, $size, $controlHoverColor);
    position: relative;
    right: 10px;
    &::after {
      content: '';
      position: absolute;
      height: 20px;
      width: 6px;
      background-color: $controlMainColor;
      top: -10px;
      right: -10px;
    }
    &:hover::after {
      background-color: $controlHoverColor;
    }
  }
}

.cell.track {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
}
.controls {

}

/* styles for seeking bar */


/* styles for displaying track info */
.track-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 0 0 30px;
  position: relative;
  top: 18px;
  justify-content: space-between;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}
.text {
  display: flex;
  justify-content: space-between;
  position: relative;

  .track-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.seeking {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 8px 0;

  .progress {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: $controlHoverColor;
  }
}
.times {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.3);
}
