<div id="player">
  <div class="player-container">
    <div class="track-image" ng-style="$ctrl.currentTrack.style">
    </div>
    <div class="controls">
      <div class="track-info">
        <span>{{ $ctrl.artist }}</span>
        <span>{{ $ctrl.currentTrack.name }}</span>
      </div>
      <div
          class="control control__previous"
          ng-click="$ctrl.changeTrack($ctrl.currentTrack.index - 1)">
      </div>
      <div
          class="control control__main"
          ng-class="{control__play: $ctrl.playing, control__pause: !$ctrl.playing}"
          ng-click="$ctrl.playing = !$ctrl.playing">
      </div>
      <div
          class="control control__next"
          ng-click="$ctrl.changeTrack($ctrl.currentTrack.index + 1)">
      </div>
      <audio ng-src="{{$ctrl.currentTrack.url}}" type="audio/mp3" controls preload="metadata">
        Your browser does not support the <code>audio</code> element.
      </audio>
    </div>
  </div>
  <p ng-show="$ctrl.loading">Loading...</p>
</div>
